<% if users.exists? %>
  <div class="users">
    <table>
      <thead>
        <tr>
          <th>ユーザー画像</th>
          <th>ニックネーム</th>
        </tr>
      </thead>
      <tbody>
        <% users.each do |user| %>
          <tr>
              <td>
                <div class="circle_img_ss text-center ">
                  <%= link_to user_path(user) do %>
                    <%= image_tag("/user_images/#{user.icon_image_id}") %>
                  <% end %>
                </div>
              </td>
              <td>
                <%= link_to user_path(user) do %>
                  <%= user.nickname %>さん
                <% end %>
              </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p>ユーザーはいません</p>
<% end %>