<div class="top_image">
  <div class="text_box">
    
    <p class="top_title">
      「yakusoku」はセカイのだれかと、
    </p>
    <p class="top_title">
      約束を交すことができます。
    </p>
    <p>誰かと約束を交わし、あなたの「やろうかなぁ」を</p>
    <p>「やらなければ!」に変えましょう！</p>
    <%= link_to "約束を見る" , root_path , class:"btn_blue" %>
  </div>
</div>
