/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* mixins, variables, etc. */

*{
   box-sizing: border-box;
}

body {
   margin: 0;
   padding: 80px 0 0 0;
   font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
   background-color: #f8f8ff;
}

a {
   text-decoration: none;
   color: #4b4b4b;
}

/*ヘッダー*/

header {
   padding: 5px 10% 5px;
   position: fixed;
   top: 0;
   width: 100%;
   background-color: #fff;
   display: flex;
   align-items: center;

}

.blue{
  color: #19b5d1;
}


.nav-list{
   list-style: none;
   margin: 0;
   display: flex;
}

.social{
   margin: 0 0 0 15px;
   font-size: 14px;
}

nav {
   margin: 0 0 0 auto;
}

/*フラッシュメッセージ*/

.alert-success{
  color: green;
  background-color: #f0fff0;
  /*honeydew*/
}

.alert-danger{
  color: red;
  background-color: #fff0f5;
  /*pink*/
}

.alert-standard{
  color: #708090;
  background-color: #f8f8ff;
}

.alert{
  padding: 10px;
}

/*フッター*/
footer {
  width: 100%;
  height: 120px;
  text-align: center;
  line-height: 120px;
  position: absolute;/*←絶対位置*/
  bottom: 0;

}

.footer-text {
  color: #6c6b6b;
  font-size: 10px;
}


/*画像を丸く*/
.circle_img img{
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width:  180px;       /* ※縦横を同値に */
  height: 180px;
}


/*タブ機能*/
.tab {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-left: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
}
.tab:first-child {
  border-left: none;
}

.tab-active {
  color: #FFF;
  background: #19b5d1;
  transition: all 0.2s ease-in-out;
}

.tabbox {
  display: none;
  padding: 15px;
}

.box-show {
  display: block;
}

.tab:hover{
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
}

/*基本操作*/

/*上下中央寄せ*/
.xy_center{
  justify-content: center;
  text-align: center;
}

.row{
  flex: auto;
  display: flex;
  justify-content: center;
}

.btn a{
  margin: 5px;
}

.text_right{
  text-align: right;
}

.text_left{
  text-align: left;
}

.border_btn{
  border-radius: 100vh;
  border: 1px solid;
  padding: 12px;
}

 .btn_blue{
  display       : inline-block;
  border-radius: 100vh;
  font-size     : 14pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  color         :  #19b5d1;     /* 文字色     */
  background-color: white;
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .2s;         /* なめらか変化 */
  border        : 2px solid #19b5d1;    /* 枠の指定 */
}
.btn_blue:hover {
  box-shadow    : none;       
  color         : #19b5d1;     
  background-color: white;
}
 

.btn_green{
  display       : inline-block;
  border-radius: 100vh;
  font-size     : 14pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  color         : #17c671;     /* 文字色     */
  background-color: white;
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .2s;         /* なめらか変化 */
  border        : 2px solid #17c671;    /* 枠の指定 */
}
.btn_green:hover {
  box-shadow    : none;       
  color         : #17c671;     
  background-color: white;
}

.border_bottom{
  border-bottom: 1px solid;
  border-color: #d3d3d3;
}


.border_top{
  border-top: 1px solid;
  border-color: #d3d3d3;
}

.pb_30px{
  padding-bottom: 30px;
}

.mt_30px{
  margin-top: 30px;
}

.title{
  font-size: 20px;
  color: #19b5d1;
  border-bottom: 2px solid #19b5d1;
  display: inline-block;
}

text_field {
  width:300px;
}

textarea {
  resize: none;
  width:300px;
  height:200px;
}

