// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top_image{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url("top.png")
  center / cover;
　position: relative;
  display: inline-block;
  line-height: 0;
  border-radius: 15px;
  overflow: hidden;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top_image::after{
  content: ' ';
  background-color: rgba(0,0,0,.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 200px;
}

.text_box{
  z-index: 3;
  color: white;
  text-align: center;
  p{
    margin: 32px;
  }
  .top_title{
    text-align: center;
    font-size: 30px;
    color: white;
  }
}
